* {
    border: 1px solid red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
}

body {
    background-color: black;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: black;
    position: fixed;
    margin-top: 0px;
    height: 60px;
    color: white;
}
.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.nav-item {
    margin: 10px;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(218, 64, 218);
}

.background {
    z-index: -1;
    width: 100%;
    margin-top: -100px;
}

.example1 {
    background-image: url(itheater-image-background.png);
    background-position: center;
    background-repeat: no-repeat, repeat;
    padding: 15px;
}
.box {
    object-fit: cover;
    max-width: 300px;
    height: auto;

}

.grid-image {
    object-fit: cover;
    max-width: 300px;
    height: auto;
}

.grid-text {
    text-align: center;
}

.bottom {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-evenly;
}

.map {
    border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
}

.mapimg {
    width: 250px;
}

.footinfo {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.footshow {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.social {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.foothead {
    font-size: 2em;
}